.deku-swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.deku-swipe__wrap {
  overflow: hidden;
  position: relative;
  height: 100px;
  background-color: black;
  color: pink;
}
.deku-swipe__wrap > div {
  float:left;
  width:100%;
  position: relative;
}